%section#services
  .container
    .section-header
      %h2
        = @todo_list.name

        = link_to 'Edytuj', edit_todo_list_path(@todo_list), class: 'btn btn-xs btn-warning'
        = link_to 'Usuń',                  |
          todo_list_path(@todo_list),        |
          class: 'btn btn-xs btn-danger',   |
          method: :delete,                   |
          data: { confirm: "Jesteś pewien?" }

      %p= @todo_list.description

  #todo_items_wrapper
    %section.todo-list-container
      #form
        = render "list_items/form"
      .todo-in-progress
        %h2.title Zadania w trakcie
        %ul#target.todo-list{:ondragstart => ""}
          = render partial: 'list_items_in_progress', locals: { list_items_in_progress: @todo_list.list_items.not_completed }
      .todo-completed
        %h2 Ukończone
        %ul.todo-list-completed
          = render partial: 'list_items_completed', locals: { list_items_completed: @todo_list.list_items.completed }