%p#notice= notice
%p
  %strong Title:
  = @todo_list.name
%p
  %strong Description:
  = @todo_list.description
#todo_items_wrapper
  = render @todo_list.list_items
  #form
    = render "list_items/form"
= link_to 'Edit', edit_todo_list_path(@todo_list)
|
= link_to 'Back', todo_lists_path
|
= link_to 'Delete',                  |
  todo_list_path(@todo_list),        |
  method: :delete,                   |
  data: { confirm: "Are you sure?" } |
