<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list_item.description %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @list_item.completed %>
</p>

<p>
  <strong>Todo list:</strong>
  <%= @list_item.todo_list %>
</p>

<%= link_to 'Edit', edit_list_item_path(@list_item) %> |
<%= link_to 'Back', list_items_path %>
